.button__container {
    max-height: 60px;
    background: var(--primary-color-summer);
    box-shadow: 4px 4px 0px var(--text-color-summer);
    border-radius: 16px;
    cursor: pointer;
}

.button__text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 16px;
    text-decoration: none;
    color: var(--text-color-white);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;  
}
