footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FACF9D;
    padding: 4% 8%;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.footer__social__media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.footer__social__media a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: var(--text-color-summer);
}

.footer__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: var(--text-color-summer);
}